<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>媒体部拍摄跟踪系统v0.1Beta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
    <header class="page-header">
        <h1>媒体部 电视台 拍摄跟踪系统</h1>
    </header>
    <div id="list" class="table-responsive">
    {% if event_list %}
        <table class="eventlist table table-striped table-hover">
        <thead>
            <tr id="firstline">
                <th>事件ID</th>
                <th>名称</th>
                <th>事件日期</th>
            </tr>
        </thead>
        <tbody>
        {% for event in event_list %}
            <tr>
                <td class="eventid">{{ event.id }}</td>
                <td class="eventname"><a href="/media/{{ event.id }}/">{{ event.name }}</a></td>
                <td class="date">{{ event.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>尚没有历史拍摄记录，请您稍后查看。</p>
    {% endif %}
    </div>
    <footer>
        <p style="text-align: center">南洋模范中学媒体部电视台拍摄情况跟踪系统 | Version:0.1 Beta | © 南模媒体部 2017</p>
    </footer>
    </div>
</body>
</html>