{% extends "base.html" %}
{% block smalltitle %}{{ club.name }}{% endblock %}

{% block content %}
    <div class="container">
        <header class="page-header">
            <h1>社团</h1>
        </header>
        <div id="detail" class="">
            {% if club %}
                <h1>{{ club.name }}
                    <span class="col-sm-offset-1">
                        {% if 'clubs' in perms %}
                            {% if 'clubs.can_add_club' in perms %}
                                <a href="edit/" class="btn btn-default">编辑</a>
                            {% endif %}
                        {% endif %}
                    </span>
                </h1>
                <p>唯一id：{{ club.hash }}</p>
                <p>
                    {% if club.description == "" %}
                        这个社团没有简介。
                    {% else %}
                        {{ club.description|safe }}
                    {% endif %}
                </p>
            {% else %}
                <p>空空如也。<br>您访问了错误的网址</p>
            {% endif %}
        </div>
    </div>
{% endblock %}