{% extends "base.html" %}
{% block smalltitle %}修改：{{ club.name }}{% endblock %}

{% block custom_head %}
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    {{ form.media }}
    <style>.cke_id_description{width:100% !important;}</style>
{% endblock %}

{% block content %}
    <div class="container">
        <header class="mt-4 mb-2 pb-2">
            <h1 class="mt-4">修改社团</h1>
        </header>
        {% load bootstrap4 %}
        {% if 'clubs' in perms %}
            {% if 'clubs.can_add_club' in perms %}
                <div id="list">
                    {% if club %}
                        <div class="row">
                            <label class="col-md-2 control-label">名称：</label>
                            <p class="col-md-10">{{ club.name }}</p>
                        </div>
                        <form method="post" action="">
                            {% bootstrap_form form %}
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="submit" value="修改" class="btn btn-primary col-lg-offset-1"/>
                            </div>
                        </form>
                    {% else %}
                        <p>空空如也。<br>您访问了错误的网址</p>
                    {% endif %}
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>错误！</strong> 请检查您的用户权限。
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}