{% extends "base.html" %}

{% block smalltitle %}活动历史{% endblock %}
{% block content %}
    <div class="container">
        <header class="page-header">
            <h1>历史活动</h1>
        </header>
        <div id="list" class="table-responsive">
            {% if event_list %}
                <table class="eventlist table table-striped table-hover">
                    <thead>
                    <tr id="firstline">
                        <th>名称</th>
                        <th>事件日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in event_list %}
                        <tr>
                            <td class="eventname"><a href="/events/{{ event.hash }}/">{{ event.name }}</a></td>
                            <td class="date">{{ event.time|date:'Y-m-d H:i' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>没有可供显示的历史活动。</p>
            {% endif %}
        </div>
{% endblock %}