{% extends "base.html" %}
{% block smalltitle %}登录系统{% endblock %}

{% block content %}
    <div class="container">
        <div class="mt-4 mb-2 pb-2">
            <h1>账户激活</h1>
            <p>在这里激活你的账户。</p>
        </div>
        {% if failure == 1 %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>错误！</strong> 请检查你的用户名和密码。
            </div>
        {% endif %}
        {% if logout == 1 %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>成功登出账号。</strong>
            </div>
        {% endif %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            很抱歉，我们暂时没有开启此功能。
        </div>
{% endblock %}