{% extends "base.html" %}
{% block smalltitle %}{{ event.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-3">活动详情</h1>
        <div id="detail" class="">
            {% if event %}
                <h2>{{ event.name }}
                    <span class="col-sm-offset-1">
                        {% if 'events' in perms %}
                            {% if 'events.can_add_event' in perms %}
                                <a href="edit/" class="btn btn-outline-primary">编辑</a>
                            {% endif %}
                        {% endif %}
                    </span>
                </h2>
                <p>日期：{{ event.time|date:'Y-m-d H:i' }}</p>
                <p>
                    {% if event.description == "" %}
                        这个活动没有简介。
                    {% else %}
                        {{ event.description|safe }}
                    {% endif %}
                </p>
            {% else %}
                <p>空空如也。<br>您访问了错误的网址</p>
            {% endif %}
        </div>
    </div>
{% endblock %}