{% extends "base.html" %}

{% block title %}学生活动系统{% endblock %}
{% block content %}
    <div class="container">
        <header class="mt-4 mb-2 pb-2">
            <h1 class="mt-4">发现活动</h1>
        </header>
        {% if 'events' in perms %}
            {% if 'events.can_add_event' in perms %}
                <p style="text-align: right"><a href="/events/new" class="btn btn-outline-primary">创建活动</a></p>
            {% endif %}
        {% endif %}
        <div id="list" class="table-responsive">
            {% if event_list %}
                <table class="eventlist table table-striped table-hover">
                    <thead>
                    <tr id="firstline">
                        <th>名称</th>
                        <th>事件日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in event_list %}
                        <tr>
                            <td class="eventname"><a href="/events/{{ event.hash }}/">{{ event.name }}</a></td>
                            <td class="date">{{ event.time|date:'Y-m-d H:i' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>空空如也。<br>尝试注册一次活动！</p>
            {% endif %}
        </div>
{% endblock %}